@import url('/base.css');

body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    width: 1440px;
    height: 1577px;
    flex-direction: column;
    align-items: center;
}

.userInfo {
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.numberDescription {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 120px;
}

.digitalBlock {
    width: 100px;
    height: 67px;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    background: #E5E5E5;
    border-radius: 16px;
}

.numbers {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #4E5150;
    margin-top: 14px;
}

.kind {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #4E5150;
    margin-top: 4px;
}

.profilePhoto {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 166px;
}

.profilePhoto__img {
    display: flex;
    border-radius: 50px;
    width: 156px;
    height: 156px;
}

.initials {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #4E5150;
    text-align: center;
    margin-bottom: 8px;
}

.placeOfBirth {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #A9A9A9;
    text-align: center;
}

.grid-topLinePics {
    display: grid;
    width: 95%;
    max-width: 960px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}

.grid-picture__pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.grid-picture {
    grid-column: span 1;
    grid-row: span 1;
    border-radius: 20px;
    height: 100%;
}

.grid-picture--horizontal-doubled-size {
    grid-column: span 2;
}

.grid-picture--vertical-doubled-size {
    grid-row: span 2;
}

@media(max-width: 1024px) {
    .grid-topLinePics {
        gap: 22px;
    }
}

@media(max-width: 767px) {
    .grid-topLinePics {
        gap: 15px;
    }
}
@media(max-width: 479px) {
    .grid-topLinePics {
        gap: 9px;
    }
    .userInfo {
        width: 233px;
        height: 300px;
    }    
    .numberDescription {
        width: 100%;
        height: 80px;
    }
    .digitalBlock {
        width: 66px;
        height: 44px;
        border-radius: 10px;
    }
    .numbers {
        font-size: 12px;
        margin-top: 9px;
    }
    .kind {
        font-size: 9px;
        margin-top: 2px;
    }
    
    .profilePhoto {
        width: 100%;
        height: 110px;
    }
    .profilePhoto__img {
        border-radius: 33px;
        width: 104px;
        height: 104px;
    }
    .initials {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .placeOfBirth {
        font-size: 9px;
    }
}
